$layoutBreakpointLarge: 1024px;
$layoutBreakpointMedium: 768px;
$layoutBreakpointSmall: 390px;


$black: #000;
$white: #FFF;
$gray: #212529;
$darkGray: #303030;
$lightGray: #808080;
$liteGray: #8C8C8C;
$naviGray: #6E6E6E;
$activeNaviGray: #4B4A4A;
$azur: #17BFBF