@import 'styles/helpers/variables';
@import 'styles/helpers/mixins';

.list {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  gap: 35px;

  @include media-breakpoint-down($layoutBreakpointMedium) {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    padding: 0 16px;
  }

  .listItem {
    position: relative;
    width: fit-content;
    border-bottom: 2px solid transparent;

    .link {
      text-decoration: none;
      color: $black;
    }

    &.active {
      position: relative;

      &::after {
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $azur;
      }
    }
  }
}