.wrapper {
  height: 30px;

  .burgerWrapper {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;

    .burger {
      position: relative;
      width: 100%;
      height: 3px;
      transition: .3s ease;
      border-radius: 2px;
      background-color: black;

      &:before,
      &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        content: '';
        transition: .3s ease;
        border-radius: 2px;
        background-color: black;
      }

      &:before {
        top: 6px;
      }

      &:after {
        bottom: 6px;
      }

      &.active {
        background-color: transparent;

        &:before {
          top: 0;
          transform: rotate(45deg);
        }

        &:after {
          bottom: 0px;
          transform: rotate(-45deg);
        }
      }
    }

  }

  .mobileNavigation {
    position: fixed;
    z-index: 2;
    top: 50;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
  }
}