@import 'styles/helpers/variables';
@import 'styles/helpers/mixins';

.logo {
  display: flex;
  align-items: center;
  color: $gray;
  gap: 8px;

  @include media-breakpoint-down($layoutBreakpointMedium) {
    flex-direction: column;
    gap: 12px;
  }

  .logoContent {
    @include media-breakpoint-down($layoutBreakpointMedium) {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}