@import 'styles/helpers/variables';
@import 'styles/helpers/typography';

.btnsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 35px;
  @include media-breakpoint-down($layoutBreakpointMedium) {
    align-items: center;
    flex-direction: column;
    gap: 10.8px;

  }

  .btn {
    width: fit-content;
    text-align: left;
    letter-spacing: .7px;
    text-transform: uppercase;
    color: $naviGray;
    border: none;
    background-color: transparent;
    font-family: Arial;
    font-size: 13px;
    font-weight: 700;
    line-height: 19.5px;


    &.active {
      position: relative;
      color: $black;

      &::after {
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background-color: $activeNaviGray;
      }
    }
  }
}